@model ALAYSchoolManagment.Application.ViewModels.MatriculasViewModel
@{
    ViewData["Title"] = "Matricular";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard1">Home</a></li>
            <li class="breadcrumb-item active"><a>Matriculando Novo Aluno</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <form asp-action="Matricular" method="post">
        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Matriculando</h4>
                        <p class="text-muted">
                            <code></code>
                        </p>
                        <div id="accordion-two" class="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1"><i class="fa" aria-hidden="true"></i> Escolha do Modulo</h5>
                                </div>
                                <div id="collapseOne1" class="collapse show" data-parent="#accordion-two">
                                    <div class="card-body">
                                        <partial name="Partials/_modulos" />
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2"><i class="fa" aria-hidden="true"></i> Dados Pessoais do Aluno</h5>
                                </div>
                                <div id="collapseTwo2" class="collapse" data-parent="#accordion-two">
                                    <div class="card-body">
                                        <partial name="Partials/_dadosAluno" />
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                        <i class="fa" aria-hidden="true"></i> Emolumentos Obrigatórios <i class="badge badge-success" id="lblTotalObrigario"></i>
                                        & Opcionais <i class="badge badge-warning" id="lblTotalOpcional"></i>
                                    </h5>
                                </div>
                                <div id="collapseThree3" class="collapse" data-parent="#accordion-two">
                                    <div class="card-body">
                                        <partial name="Partials/_emolumentos" />
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4"><i class="fa" aria-hidden="true"></i> Por Implementar </h5>
                                </div>
                                <div id="collapseThree4" class="collapse" data-parent="#accordion-two">
                                    <div class="card-body">
                                        <h3>Por Implementar </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                                        <i class="fa" aria-hidden="true"></i> Formas de Pagamento
                                    </h5>
                                </div>
                                <div id="collapseThree5" class="collapse" data-parent="#accordion-two">
                                    <div class="card-body">
                                        <partial name="Partials/_pagamento" />
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6"><i class="fa" aria-hidden="true"></i> Resumo & Finalizar</h5>
                                </div>
                                <div id="collapseThree6" class="collapse" data-parent="#accordion-two">
                                    <div class="card-body">
                                        <partial name="Partials/_resumo" />
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#basicModal"><i class="fa-solid fa-xmark fa-lg"></i> Cancelar Matricula</button>
                                        <button type="submit" class="btn btn-success float-right"><i class="fa-light fa-floppy-disk fa-lg" style="color: #0a0a0a;"></i> Finalizar Matricula</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- #/ container -->

<div class="modal fade" id="basicModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Matricula de Aluno</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja cancelar a matricula de:  <strong>Aleksei da Silva</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="fa-light fa-thumbs-down"></i> Nao</button>
                <a type="button" href="@Url.Action("Matriculados","Matricula")" class="btn btn-outline-danger"><i class="fa-light fa-thumbs-up"></i> Sim</a>
            </div>
        </div>
    </div>
</div>



@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            OcultarTotalOpcional();
            //Modulo----> Ao selecionar
            var moduloId = 0;
            $("#ModCreche").click(function () {
                moduloId = $("#ModCreche").val();
                PreencherResumoModuloSelecionado(moduloId);
                if (moduloId == 1) {
                    CarregarEmolumentosObrigatorios(moduloId);
                    CarregarEmolumentosOpcionais(moduloId);
                }
                else {
                    alert("o Modulo deve ser Selecionado");
                }
            });


            $("#ModColegio").click(function () {
                moduloId = $("#ModColegio").val();
                PreencherResumoModuloSelecionado(moduloId);
                if (moduloId == 2) {
                    CarregarEmolumentosObrigatorios(moduloId);
                    CarregarEmolumentosOpcionais(moduloId);
                }
                else {
                    alert("o Modulo deve ser Selecionado");
                }
            });


            // EMolumentos Obrigatorios
            let somaDosEmolumentoObrigatorios = [];
            let somaDosEmolumentoOpcionais = [];
            document.getElementById('EmolumentosObrigatorios').change = function () {
                var selectedOptions = [];
                for (let option of document.getElementById('EmolumentosObrigatorios').options) {
                    if (option.selected) {
                        selectedOptions.push(option.value);
                    }
                };
                $.ajax({
                    url: "@Url.Action("ListarPrecoEmolumento")",
                    type: "post",
                    dataType: "json",
                    contextType: "application/json",
                    data: { selectedIds: selectedOptions },
                    traditional: true,
                    success: function (result) {
                        MostrarTotalObrigatorio(result);
                    },
                    error: function (err) {
                        alert("Nao foi possivel carregar o valor total dos emolumentos, Erro:" + err);
                    }
                });
            };
            // EMolumentos Opcionais
            document.getElementById('EmolumentosOpcionais').change = function () {
                var selectedOpcionais = [];
                for (let option of document.getElementById('EmolumentosOpcionais').options) {
                    if (option.selected) {
                        selectedOpcionais.push(option.value);
                    }
                };
                $.ajax({
                    url: "@Url.Action("ListarPrecoEmolumento")",
                    type: "post",
                    dataType: "json",
                    contextType: "application/json",
                    data: { selectedIds: selectedOpcionais },
                    traditional: true,
                    success: function (result) {
                        MostrarTotalOpcional(result);
                    },
                    error: function (err) {
                        alert("Nao foi possivel carregar o valor total dos emolumentos, Erro:" + err);
                    }
                });
            };
        });


        function OcultarTotalObrigatorios() {
            $('#lblTotalObrigario').hide();
        };
        function MostrarTotalObrigatorio(valor) {
            $('#lblTotalObrigario').show();
            $('#lblTotalObrigario').text(valor);
        };
        function OcultarTotalOpcional() {
            $('#lblTotalOpcional').hide();
        };
        function MostrarTotalOpcional(valor) {
            $('#lblTotalOpcional').show();
            $('#lblTotalOpcional').text(valor);
        };
        function CarregarEmolumentosObrigatorios(moduloId) {
            $.ajax({
                type: "Get",
                url: "@Url.Action("ListarEmolumentosObrigatoriosPorModuloId")",
                data: { "moduloId": moduloId },
                success: function (response) {
                    var items = '';
                    $(response).each(function () {
                        items += "<option value=" + this.value + ">" + this.text + "</option>";
                    });
                    $("#EmolumentosObrigatorios").html(items);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        };
        function CarregarEmolumentosOpcionais(moduloId) {
            $.ajax({
                type: "Get",
                url: "@Url.Action("ListarEmolumentosOpcionaisPorModuloId")",
                data: { "moduloId": moduloId },
                success: function (response) {
                    var items = '';
                    $(response).each(function () {
                        items += "<option value=" + this.value + ">" + this.text + "</option>";
                    });
                    $("#EmolumentosOpcionais").html(items);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        };


        /*Preencher Dados do Resumo*/
        function PreencherResumoModuloSelecionado(moduloId) {
            if (moduloId == 1) {
                $("#lblResumoAlunoModulo").text('CRECHE');
            } else {
                $("#lblResumoAlunoModulo").text('COLEGIO');
            }
        }
        $(document).ready(function () {
            $("#txtAlunoNomeCompleto").change(function () {
                $("#lblResumoAlunoNomeCompleto").text($("#txtAlunoNomeCompleto").val());
            });

            $("#txtAlunoContribuinte").change(function () {
                $("#lblResumoAlunoContribuinte").text($("#txtAlunoContribuinte").val());
            });

            $("#txtAlunoDataNascimento").change(function () {
                $("#lblresumoAlunoDataNascimento").text($("#txtAlunoDataNascimento").val());
            });
            $("#selectedAlunoGenero").change(function () {
                alert($("#selectedAlunoGenero").val());
                var gen = $("#selectedAlunoGenero").val();
                if (gen == 0) {
                    $("#lblresumoAlunoGenero").text("Não Identificado");
                } else
                    if (gen == 1) {
                        $("#lblresumoAlunoGenero").text("MASCULINO");
                    } else {
                        $("#lblresumoAlunoGenero").text("FEMENINO");
                    }
            });
            $("#selectedAlunoGenero").change(function () {
                alert($("#selectedAlunoGenero").val());
                var gen = $("#selectedAlunoGenero").val();
                if (gen == 1) {
                    $("#lblresumoAlunoGenero").text("MASCULINO");
                } else {
                    $("#lblresumoAlunoGenero").text("FEMENINO");
                }
            });

        });
    </script>
}
