@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ALAYSchoolManager.Application.ViewModels
@using ALAYSchoolManager.Infra.CrossCutting.Extensions
@model IEnumerable<ALAYSchoolManager.Application.ViewModels.MatriculaConfirmarViewModel>

@{
    ViewData["Title"] = "ListarConfirmados";
}
<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Matriculas</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Listar Confirmações</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6 col-sm-12 text-right">
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    Matricular
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-action="Confirmar"><i class="icon-copy fa fa-user-plus" aria-hidden="true"></i> Confirmar </a>
                    @* <a class="dropdown-item" href="#"><i class="icon-copy fa fa-check-square-o" aria-hidden="true"></i> Reconfirmacao</a> *@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Alunos Confirmados</h4>
        <p class="small mb-0">Aqui, podera visualizar os alunos com matriculas confirmadas no modulo e ano academico!... </p>
    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th>N/O</th>
                    <th>Nº Matricula</th>
                    <th>Nome Completo do Aluno</th>
                    <th>Módulo</th>
                    <th>Ano Lectivo</th>
                    <th>Data</th>
                    <th>Utilizador</th>
                    <th class="datatable-nosort">Acções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MatriculaConfirmarViewModel item in Model)
                {
                    <tr>
                        <td>01</td>
                        <td class="align-content-center"> @item.AlunosNMatricula.AlunoNMatricula</td>
                        <td class="table-plus">@item.AlunosNMatricula.AlunoNomeCompleto</td>
                        <td>Colegio</td>
                        <td>@item.AnoAcademico.AnoAcademicoDesignacao</td>
                        <td>@item.DataHora.ConverterDataHora()</td>
                        <td>@item.UsuarioCadastrador</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item" asp-action="Reimprimir" asp-route-id="@item.AlunosNMatricula.AlunoNMatricula"><i class="dw dw-print"></i> Reimprimir</a>
                                    <a class="dropdown-item" asp-action="Cancelar" asp-route-id="@item.AlunosNMatricula.AlunoNMatricula"><i class="dw dw-cancel"></i> Cancelar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





