@page
@model ALAYSchoolManagment.Presentation.IU.Areas.Identity.Pages.Account.LoginModel
<!DOCTYPE html>
<html lang="pt">
<header>
    @{
        Layout = null;
    }
    <Title>ALAYSchoolGest - Entrar no Sistema</Title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/favicon.ico" asp-append-version="true">
    <!-- Vendors Style-->
    <link rel="stylesheet" href="~/css/vendors_css.css" asp-append-version="true">

    <!-- Style-->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/skin_color.css" asp-append-version="true">
</header>
<body class="hold-transition theme-primary bg-img" style="background-image: url(~/images/auth-bg/bg-1.jpg)">

    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">

            <div class="col-12">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="bg-white rounded10 shadow-lg">
                            <div class="content-top-agile p-20 pb-0">
                                <h2 class="text-primary">ALAYSchoolGest</h2>
                                <p class="mb-0">Insira as suas credenciais.</p>
                            </div>
                            <div class="p-40">
                                <form id="account" method="post">
                                    <hr />
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                        <label asp-for="Input.Email" class="form-label">E-mail</label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="senha" />
                                        <label asp-for="Input.Password" class="form-label">Senha</label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="checkbox">
                                                <input asp-for="Input.RememberMe" type="checkbox" id="basic_checkbox_1">
                                                <label for="basic_checkbox_1">Lembrar-Me</label>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-6">
                                            <div class="fog-pwd text-end">
                                                <a id="forgot-password" asp-page="./ForgotPassword" class="hover-warning"><i class="ion ion-locked"></i>Esqueci minha senha?</a><br>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-12 text-center">
                                            <button type="submit" class="btn btn-danger mt-10">ENTRAR NO SISTEMA</button>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                </form>
                                <div class="text-center">
                                    <p class="mt-15 mb-0">Don't have an account? <a href="auth_register.html" class="text-warning ms-5">Sign Up</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="mt-20 text-white">- Sign With -</p>
                            <p class="gap-items-2 mb-20">
                                <a class="btn btn-social-icon btn-round btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
                                <a class="btn btn-social-icon btn-round btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="btn btn-social-icon btn-round btn-instagram" href="#"><i class="fa fa-instagram"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Vendor JS -->
    <script src="~/js/vendors.min.js"></script>
    <script src="~/js/pages/chat-popup.js"></script>
    <script src="~/assets/icons/feather-icons/feather.min.js"></script>


    @*
    <div class="row">
    <div class="col-md-4">
    <section>
    <form id="account" method="post">
    <h2>Use a local account to log in.</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
    <label asp-for="Input.Email" class="form-label">Email</label>
    <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
    <label asp-for="Input.Password" class="form-label">Password</label>
    <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="checkbox mb-3">
    <label asp-for="Input.RememberMe" class="form-label">
    <input class="form-check-input" asp-for="Input.RememberMe" />
    @Html.DisplayNameFor(m => m.Input.RememberMe)
    </label>
    </div>
    <div>
    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
    </div>
    <div>
    <p>
    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
    </p>
    <p>
    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
    </p>
    <p>
    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
    </p>
    </div>
    </form>
    </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
    <section>
    <h3>Use another service to log in.</h3>
    <hr />
    @{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
    <div>
    <p>
    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
    article
    about setting up this ASP.NET application to support logging in via external services
    </a>.
    </p>
    </div>
    }
    else
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
    <p>
    @foreach (var provider in Model.ExternalLogins!)
    {
    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
    }
    </p>
    </div>
    </form>
    }
    }
    </section>
    </div>
    </div>*@

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
