@using ALAYSchoolManagment.Application.ViewModels.Shared

@model ALAYSchoolManagment.Application.ViewModels.MatriculasViewModel


<div class="row">
    <div class="col-2 offset-xl-3">
        <div class="row">
            <div class="card-body card-columns">
                @foreach (ModulosViewModel item in ViewBag.modulos)
                {
                    <label class="card-radio-btn">
                        @if (item.ModuloId == 1)
                        {
                            <input asp-for="MatriculaModuloId" type="radio" name="demo" class="card-input-element d-none" id="ModCreche" value="@item.ModuloId">
                            <div class="card card-body">
                                <div class="content_head font-weight-bold">@item.ModuloDesignacao</div>
                                <i class="fa-solid fa-baby" style="font-size: 500%"></i>
                                <p class="content_sub">para crianças apartir 6 meses</p>
                            </div>
                        }
                        else
                        {
                            <input asp-for="MatriculaModuloId" type="radio" name="demo" class="card-input-element d-none" id="ModColegio" value="@item.ModuloId">

                            <div class="card card-body">
                                <div class="content_head font-weight-bold">@item.ModuloDesignacao</div>
                                <i class="fa-solid fa-user-graduate" style="font-size: 500%"></i>
                                <p class="content_sub">para crianças apartir 6 meses</p>
                            </div>
                        }
                    </label>
                }
            </div>
        </div>
    </div>
</div>

@Html.RadioButtonFor(model =>model.MatriculaModuloId,"Creche" )
@Html.RadioButtonFor(model =>model.MatriculaModuloId,"Colegio" )
